.links{	
		display: flex;
  		justify-content: center;
  		align-items: center;
  		height: 200px;
  		border: 20px solid black;
		color: white;
		margin: 0 auto;
		padding: 20px 0px;
		text-decoration:none;
}
.body{
width: 100%;
height: auto;
margin: 0 auto;
padding:0;
}