.social-media {
	display: flex;
	justify-content: center;
  	align-items: center;
  	height: 200px;
  	border: 20px solid black;
	color: white;
	margin: 0 auto;
	padding: 20px 0px;
	text-decoration:none;

	
}

.fa {
	padding: 70px;
	font-size: 30px;
	width: 50px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {

	color: white;
}

.fa-twitter {
	color: white;
}

.fa-steam {
	color: white;
}

.fa-soundcloud {
	color: white;
}

.fa-youtube {
	color: white;
}

.fa-twitch {
	color: white;
}

.fa-instagram{
	color: white;	
}