/* stylesheet.css */

/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply basic styles to the header */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo-text {
    display: flex;
    align-items: center;
}

.logo img {
    width: 100px; /* Adjust as needed */
    margin-right: 10px; /* Add spacing between the logo and text */
}

.text {
    font-size: 1.2rem; /* Adjust the font size as needed */
}

/* Style the navigation menu */
nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 250px; /* Increase the margin to space out the links more */
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #ff9900; /* Change the color on hover */
}

/* Style the social media links */
.social-media {
	display: flex;
	justify-content: center;
  	align-items: center;
  	height: 200px;
	margin: 0 auto;
	padding: 20px 0px;
	text-decoration:none;
}

.fa {
	width: 50px;
	text-align: center;
	text-decoration: none;
}

.fa:hover {
	opacity: 0.7;
}

.fa-facebook {

	color: white;
}

.fa-twitter {
	color: white;
}

.fa-steam {
	color: white;
}

.fa-soundcloud {
	color: white;
}

.fa-youtube {
	color: white;
}

.fa-twitch {
	color: white;
}

.fa-instagram{
	color: white;	
}

.slideshow-container {
    position: relative;
    width: 100%; /* Make the container 100% wide */
    overflow: hidden; /* Hide overflow for full-width images */
}

.slideshow-image {
    display: none;
    width: 100%; /* Make each image 100% wide */
}

img {
    width: 100%;
    height: 100%;
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
